@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
}

/* Barre de défilement verticale */
::-webkit-scrollbar {
    width: 8px;
    /* Largeur de la barre de défilement */
}

::-webkit-scrollbar-track {
    background: #00000081;
    /* Couleur de fond de la piste de défilement */
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #161616;
    /* Couleur de la poignée de défilement au survol */
}

body{
    background-color: #212121;
    color: white;
}